body {
  margin: 0;
  background-color: #eff3f6;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  position: absolute;
  top: 20%;
  width: 450px;
  height: 535px;
  left: 35%;
  border: solid 1px #e7e9ed;
  background-color: #FFFFFF;
}

.container2 {
  position: absolute;
  top: 20%;
  width: 450px;
  left: 35%;
  border: solid 1px #e7e9ed;
  background-color: #FFFFFF;
}

.container-title {
  border-bottom: solid 1px #e7e9ed;
  height: 110px;
  text-align: center;
  background-color: #f8fafc;
}

.container-title h1{
  font-size: 24px;
  color: #354052;
  padding-top: 59px;
  margin: 0;
  font-weight: normal;
}

.container-login form {
  padding-top: 27px;
  padding-left: 30px;
}

.container-login label {
  font-size: 14px;
  color: #7f8fa4;
}

.container-login input {
  display: block;
  color: #354052;
  width: 390px;
  height: 46px;
  background-color: #f8fafc;
  border-radius: 5px;
  border: solid 1px #dfe3e9;
  margin-top: 8px;
  margin-bottom: 20px;
}

.fa-arrow-alt-circle-down{
  color: #00AEEF;
  position: absolute;
  width: 30px;
  font-size: 70px;
  top: -35px;
  left: 190px;
}

.fab {
  font-size:60px;
  width: 80px;
  height: 70px;
  border-radius: 5px;
  margin-left: 30px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 1s;
  transition-property: background-color;
  transition-duration: 1s;

}

.fa-twitter-square{
  color: #00AEEF;
}

.fa-twitter-square:hover {
  color: #0069ad;
}

.fa-facebook{
  color: #2290e2;
}

.fa-facebook:hover {
  color: #245dad;
}

.fa-pinterest-square {
  color: #f25337;
}

.fa-pinterest-square:hover {
  color: #ad432e;
}

.fa-google-plus-square {
  color: #e84a87;
}

.fa-google-plus-square:hover {
  color: #b1405b;
}

.social-network {
  border-top: solid 1px #e7e9ed;
  margin: auto;
}

.container-login button {
  width: 390px;
  height: 46px;
  background: #36af46;
  color: #fff;
  border: solid 1px #249533;
  border-radius: 5px;
  margin-bottom: 31px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 1s;
  transition-property: background-color;
  transition-duration: 1s;
}

.container-login button:hover {
  background-color: #2190e2;
  border: solid 1px #2069b5;
}

.social-network h2 {
  position: relative;
  font-size: 14px;
  color: #7f8fa4;
  bottom: 10px;
  left: 125px;
  font-weight: normal;
  background-color: #fff;
  width: 170px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0;
}

.account {
  font-size: 14px;
  position: absolute;
  bottom: -40px;
}

.account a{
  color: #8696a9;
  text-decoration: none;
}

.account a:hover {
  text-decoration: underline;
}

.forget {
  font-size: 14px;
  position: absolute;
  bottom: -40px;
  right: 0px;
}

.forget a {
  color: #8696a9;
  text-decoration: none;
}

.forget a:hover {
  text-decoration: underline;
}

