html
    head
        title PROJET INFRA
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel='stylesheet', href='css/navbar.css')
        link(rel='stylesheet', href='css/dashboard.css')
    body
        div(class="navbar")
            a(href="/")
                img(src="icon/sent-mail.png")
            div(class="menu")
                a(href="/addquestion")
                    span Add Question
                    a(href="")
                        span Browse
                a(href="")
                    span Your Tickets
            div(class="profile")
                form(method="post")
                    input(type="text", name="search", placeholder="Search")
                    button(type="submit")
                        img(src="icon/search.png")
                a(href="/profile")

                a(class="power" href="disconnect")
                    img(src="icon/power-button.png")
        div(class="container")
            div(class="container-title")
                h1 New question
            div(class="question-add")
                div(class="ques-form")
                    form(action='addquestion' method='post')
                        label(for='title_field') Question Name
                        input(id='title_field' name='title')
                        label(for='contenu_field') Content
                        textarea(id='contenu_field' name='content')
                        div(class="btn-right")
                            button(type='submit') Publish Question


        h1 All questions
        for question in questions

            div(class="container-qlist")
                div(class="question-list")
                    form(method="post")
                        p #{question.nameQ}
                        p #{question.description}


